# PostgreSQL 
DB_HOST=<hostname>
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=<password>
DB_SSL=true

# JWT secret
JWT_SECRET=<your_jwt_secret>
JWT_EXPIRES_IN=<days>

# Redis cache
REDIS_HOST=<hostname>
REDIS_PORT=6379
REDIS_PASSWORD=<password>

#Message Queuing
RABBITMQ_URL=amqp://<username>:<password>@<hostname>:5672

# AWS S3
AWS_REGION=<region>
AWS_ACCESS_KEY_ID=<access_key_id>
AWS_SECRET_ACCESS_KEY=<secret_access_key>
AWS_S3_BUCKET_NAME=<bucket_name>


# App
PORT=4000
